
<header id="header-content">
    <nav>
        <a href="" id="logo">my chama</a>
        <ul>
            <li><a href="">Login</a></li>
            <li><a href="">Sign Up</a></li>
        </ul>
    </nav>
</header>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans' , sans-serif;
    }


#header-content nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding:0 1.25rem;
    height: 80px;
}
#logo{
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(238, 164, 80);
}

#header-content ul{
    display: flex;
    list-style: none;
}

#header-content ul li a{
    text-decoration: none;
    margin: 0 10px;
    color:rgb(185, 131, 31) ;
    font-size: 1.25rem;
}
#header-content ul li a:hover{

    color: rgb(228, 163, 44);

}

</style>


